html, body{
	height: 100%;
	padding: 0;
	margin: 0;

}

p {
	font-size: 20vw;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	text-align: center;
}
div{
	margin: 0 auto;
  	border-radius: 3px;
  	display: block;
}

paper-material{
	width: 50vw;
	height: 100%;

}

.right{
	clear : right;
	overflow: hidden;
}