@font-face{
  font-family: 'Lato';
  src:url(https://fonts.googleapis.com/css?family=Lato);
}

html, body{
	height: 100%;
	padding: 0;
	margin: 0;
	font-family: 'Lato', sans-serif;

}

p {
	font-size: 15vw;
	text-align: center;
	margin: 0;
	padding-top: 10vh;
}
div{
	margin: 0 auto;
  	border-radius: 3px;
  	display: block;
}

#big{
	width: 49vw;
	height: 100%;
	z-index: 1;
}

#countdown{
	height:50vh;
}

.buttons{
	display: table;
	margin-left: 15vw;
	margin-top: 10vh;
}

#reset{
	margin-left: 3vw
	margin: 3vw;
}

paper-toolbar{
	position: fixed;
	width: 100%;
	z-index: 10;
}

.buttons paper-button{
	text-align: center;
	display: table-cell;
	width: 10vw;
}

paper-input{
	padding-top: 10vh;
	width: 30vw;
	text-align: center;
	margin: 0 auto;
}

.right{
	clear : right;
	float: right;
	overflow: hidden;
}

.left{
	float: left;
	clear:left;
}

.scoreCard{
	font-size: .75em;
	display: table;
	/*padding-left: 10vw;*/
	text-align: center;
	padding-top: 10vh;
	height: 20vh;
	margin: 0 auto;
}

.scoreCard paper-material{
	width: 10vw;
	display: table-cell;
}

.display{
	display: table;
	margin-top: 70vh;
	margin-left: 
}

.display paper-material{
	display: table-cell;
	height: 25vh;
	width: 10vw;
	z-index: 5;
}

.display h1{
	font-size: 1.5em;
}








